<div class="list-group">
    <a routerLink="/category/1" class="list-group-item fs" routerLinkActive="bg-info text-white font-weight-bold">Grand projet</a>
    <a routerLink="/category/2" class="list-group-item fs" routerLinkActive="bg-info text-white font-weight-bold">Petit projet</a>
    <a routerLink="/category/3" class="list-group-item fs" routerLinkActive="bg-info text-white font-weight-bold">Projet Public</a>
    <a routerLink="/category/4" class="list-group-item fs" routerLinkActive="bg-info text-white font-weight-bold">Projet Privé</a>
</div>